NEXT_PUBLIC_PUSHER_KEY=""
NEXT_PUBLIC_PUSHER_CLUSTER=""

# Backend variables (do not expose to NEXT_PUBLIC)
DATABASE_URL="mysql://root:password@127.0.0.1:3306/lab_db"
PUSHER_APP_ID=""
PUSHER_SECRET=""
